h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 0;
  padding-top: 3%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  animation: fadein 10s;
}

@keyframes fadeIn {
  from { opacity: 0}
  to   { opacity: 1}
}

#section1 {
  background-color: red;
  width: 100%;
  height: 300px;
}

#section2 {
  background-color: black;
  width: 100%;
  height:50px;
}

#section3 {
 background-color: white;
 width: 100%;
 height: 300px;
}

.button-main {
  color: transparent;
  border: 30px solid black;
  font-size: 100px;
  text-align: center;
  background-color: white;
  height: 300px;
  width: 300px;
  display: inline-block;
  cursor: pointer;
}

.button-main {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 1%;
}

.button-main:hover {
  background-image: url("https://i.pinimg.com/originals/57/40/80/5740803f532301adb2e85e3045988510.gif");
  background-size: cover;
  cursor: pointer;
  animation: none;
}

.button-main:active {
  background-color: white;
  box-shadow: 0 10px #666;
  transform: translateY(10px);
}

.grid-container {
  display: grid;
  grid-template-rows:600px 600px 600px 600px;
}

#Morgan_Section {
  display: grid;
  grid-template: 600px/ 600px 600px;
  background-image: url('http://fc05.deviantart.net/fs71/f/2013/098/e/7/pokemon_x_y_battle_scene_by_jenske05-d5ynr9c.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#Johnny {
  display: grid;
  grid-template: 600px / 600px 600px;
  background-image: url("https://slack-imgs.com/?c=1&url=http%3A%2F%2Forig01.deviantart.net%2Fef73%2Ff%2F2014%2F301%2Fc%2F3%2Fpokemon_x_and_y_vs_az_battle_background_by_phoenixoflight92-d84iqqt.png");
  background-size: cover;
  background-repeat: no-repeat;
}

button:active {
  transform: translateY(10px);
}

button {
 color: transparent;
 border: 2px solid black;
 width: 90px;
 text-align: center;
 height: 90px;
 display: inline-block;
 cursor: pointer;
}

button:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  animation: spin 1.5s;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.button1 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url('https://www.pngkey.com/png/full/156-1564666_love-ball-one-of-the-worst-poke-balls.png');
    background-size: cover;
}

.button2 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url('https://www.pngkey.com/png/full/156-1564666_love-ball-one-of-the-worst-poke-balls.png');
    background-size: cover;
}

.button3 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url('https://www.pngkey.com/png/full/156-1564666_love-ball-one-of-the-worst-poke-balls.png');
    background-size: cover;
}

.button4 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F2%2F21%2FSugimoriMasterBall.png");
    background-size: cover;
}

.button5 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F2%2F21%2FSugimoriMasterBall.png");
    background-size: cover;
}

.button6 {
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 14%;
    background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F2%2F21%2FSugimoriMasterBall.png");
    background-size: cover;
}

.pokeball {
    display: grid;
    grid-template: 100px/ 200px 200px 200px;
    padding-top: 3%;
}

#leader {
    display: grid;
    grid-template: 100px / 200px 200px 200px;
    padding-top: 3%;
}

img {
  height: 500px;
}

#sec3 {
  background-image: url('http://www.sclance.com/backgrounds/pokemon-gym-background/pokemon-gym-background_1781431.png');
  background-size: cover;
  display: grid;
  grid-template: 600px / 600px 600px;
}

.O-grid {
  display: grid;
  grid-template: 100px / 200px 200px 200px;
  grid-gap: 6%;
  padding-left: 7%;
  margin-top: 3%;
  padding-top: 2%;
}

#oGtrainer {
  margin-left: 30%;
}

.poke-btn {
   transition: all .2s ease-in-out;
   cursor: pointer;
   -webkit-user-select: none;
 }

 .poke-btn:hover {
   transform: scale(1.1);
 }

.poke-btn:nth-child(1) {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png');
  background-size: cover;
  animation: fadeIn;
  border: none;
  border-radius: 100%;

}

.poke-btn:nth-child(2) {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png');
  background-size: cover;
  animation: fadeIn;
  border: none;
  border-radius: 100%;

}

.poke-btn:nth-child(3) {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png');
  background-size: cover;
  animation: fadeIn;
 border: none;
 border-radius: 100%;
}

#Morgan {
  margin-left: 150px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  color: white;
}

#Jonathan {
  margin-left: 150px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  color: white;
}

#Omar {
  margin-left: 150px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  color: white;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  animation: fadein 1s;
}



p {
  font-family: 'Francois One', sans-serif;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  animation: fadein 1s;
  text-transform: capitalize;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#Morgan img {
  height: 150px;
  text-align: center;
  animation: fadein 1s;
}

#Jonathan img {
  height: 150px;
  text-align: center;
  animation: fadein 1s;
}

#Omar img {
  height: 150px;
  text-align: center;
  animation: fadein 1s;
}
